<div class="addon-page-container">
    <pep-top-bar class="text-bold" [title]="logsTitle">
        <div header-start-content>

        </div>
        <div header-end-content>
            <div>
                <div class="progress-indicator pep-spacing-element"></div>
            </div>
        </div>
        <pep-list-total [totalRows]="customConflictList?.totalRows"></pep-list-total>

    </pep-top-bar>
    <div class="main-content">
        <pep-side-bar #sideNav>
            <pep-smart-filters [fields]="fields" [filters]="filters" (filtersChange)="onFiltersChange($event)">
            </pep-smart-filters>
        </pep-side-bar>
        <div class="main-layout pull-right flip">
            <div class="content">
                <div class="list-container" #conflictslistContainer>
                    <div class="left-container body-sm spacing-element-negative pull-left flip" style="display: contents">
                    </div>
                    <pep-list id="list" [supportSorting]="true" [pagerType]="'pages'" [pageSize]="50" [selectionTypeForActions]="'none'" [noDataFoundMsg]="'NO_DATA_FOUND' | translate " [parentScroll]="conflictslistContainer">
                    </pep-list>
                </div>
            </div>
        </div>
    </div>