<div class="addon-page-container">
    <!-- <pep-top-bar [title]="logsTitle"> -->
    <pep-top-bar>
        <pep-list-total [totalRows]="customLogsList?.totalRows"></pep-list-total>
        <pep-search [value]="searchString" (search)="onSearchChanged($event)" [triggerOn]="'click'" (valueChange)="onSearchAutocompleteChanged($event)" (stateChange)="onSearchStateChanged($event)">
        </pep-search>
    </pep-top-bar>
    <div class="main-content">
        <pep-side-bar #sideNav>
            <pep-smart-filters [fields]="fields" [filters]="filters" (filtersChange)="onFiltersChange($event)">
            </pep-smart-filters>
        </pep-side-bar>
        <div class="main-layout pull-right flip">
            <div class="list-container" #PepListDetailsContainer>
                <div class="left-container body-sm spacing-element-negative pull-left flip" style="display: contents">
                </div>
                <pep-list #PepListDetails id="listDetails" [selectionTypeForActions]="'none'" noDataFoundMsg="No results were found.">
                </pep-list>
            </div>
            <div class="list-container" #PepListLogsContainer>
                <div class="left-container body-sm spacing-element-negative pull-left flip" style="display: contents">
                </div>
                <pep-list #PepListLogs id="list" [supportSorting]="true" [pagerType]="'pages'" [pageSize]="70" [selectionTypeForActions]="'none'" noDataFoundMsg="No results were found." (sortingChange)="sortingChange($event)">
                </pep-list>
            </div>
        </div>
    </div>