<div class="addon-page-container">
    <pep-top-bar>
        <pep-list-total [totalRows]="customConflictList?.totalRows"></pep-list-total>
        <pep-search [value]="searchString" (search)="onSearchChanged($event)" [triggerOn]="'click'" (valueChange)="onSearchAutocompleteChanged($event)" (stateChange)="onSearchStateChanged($event)">
        </pep-search>
    </pep-top-bar>
    <div class="main-content">
        <pep-side-bar #sideNav>
            <pep-smart-filters [fields]="fields" [filters]="filters" (filtersChange)="onFiltersChange($event)">
            </pep-smart-filters>
        </pep-side-bar>
        <div class="main-layout pull-right flip">
            <div>
                <div class="list-container" #conflictslistContainer>
                    <div class="left-container body-sm spacing-element-negative pull-left flip" style="display: contents">
                    </div>
                    <pep-list id="list" [supportSorting]="true" [pagerType]="'pages'" [pageSize]="50" [selectionTypeForActions]="'none'" noDataFoundMsg="No results were found." (valueChange)="notifyValueChanged($event)" (sortingChange)="sortingChange($event)" (selectedItemsChange)="selectedRowsChanged($event)" (fieldClick)="onCustomizeFieldClick($event)">
                    </pep-list>
                </div>
            </div>
        </div>
    </div>
</div>